:root{
    --panel-width: 21rem;
    --bar-height: 3.3rem;

    --input-radius: 0.3rem;

    --bar-bkgr-color: rgb(18,26,38);
    --panel-bkgr-color: rgb(28,40,52);
    --foreground-light: #ddd;
    --foreground-dark: #636363;
    --foreground-emph: #f3f3f3;
    --foreground-bkgr: #f3f3f3;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background: none;
}

::-webkit-scrollbar-thumb{
    background-color: #aaa; 
}

::-webkit-scrollbar-button{
    display: none;
}

::-webkit-scrollbar-corner{
    background: none;
} 

div, h1, p, input{
    margin: 0px;
}

h1{
    margin: 0px 1.2rem;
    width: 7rem;
}

a,a:link,a:visited,a:hover,a:active{
    color: var(--foreground-emph);
    text-decoration: none;
}

html{
    position: fixed;
    height: 100vh;
    width: 100vw;
}

body{
    margin: 0px;
    font-family: source sans pro,Helvetica,Arial,sans-serif;
    color: var(--foreground-emph);
}

header{
    position: relative;
    z-index: 1;
    height: 4.2rem;
    line-height: 4.2rem;
    padding-left: 1rem;
    box-shadow: 0px 0px 3px #000;
    background-color: var(--bar-bkgr-color);
}

#rightLinks{
    position: absolute;
    right: 2.7rem;
    top: 0px;
    height: 4.2rem;
}

.rightLinks{
    font-size: 1.2rem;
    display: inline-block;
    margin: 0px 0.9rem;
}

#thisLink{
    border-bottom: solid 3.3px rgb(38, 124, 210);
    height: calc(4.2rem - 3.3px);
}

#rightLinks:hover .rightLinks{
    border-bottom: none;
    height: 4.2rem;
}

.rightLinks:hover{
    border-bottom: solid 3.3px rgb(38, 124, 210) !important;
    height: calc(4.2rem - 3.3px) !important;
}

main{
    position: relative;
    height: calc(100vh - 3rem);
}

#blueprint{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: calc(100vw - var(--panel-width));
    overflow: auto;

    --bkgr-color: rgb(18 87 142);
    --cors-div-color: rgba(255, 255, 255, 0.12);
    --fine-div-color: rgba(255, 255, 255, 0.1);
    --cros-color: rgba(255, 255, 255, 0.21);

    background: 
        linear-gradient(-90deg,var(--fine-div-color) 1px,transparent 0),
        linear-gradient(var(--fine-div-color) 1px,transparent 0),
        linear-gradient(-90deg,var(--cors-div-color) 1px,transparent 0),
        linear-gradient(var(--cors-div-color) 1px,transparent 0),
        linear-gradient(transparent 4px,var(--bkgr-color) 0,var(--bkgr-color) 97px,transparent 0),
        linear-gradient(-90deg,var(--cros-color) 1px,transparent 0),
        linear-gradient(-90deg,transparent 4px,var(--bkgr-color) 0,var(--bkgr-color) 97px,transparent 0),
        linear-gradient(var(--cros-color) 1px,transparent 0),var(--bkgr-color);
        
    background-size: 10px 10px,10px 10px,100px 100px,100px 100px,100px 100px,100px 100px,100px 100px,100px 100px;
}

.LTeNode{
    position: fixed;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 3px var(--bar-bkgr-color);
    transition: all 0.3s;
}

.LTeNode::before{
    content: attr(nid);
    display: block;
    width: 100%;
    position: relative;
    top: calc(50% - 0.75rem);
    font-size: 1.5rem;
    color: var(--bar-bkgr-color);
    text-align: center;
}

.activeNode{
    border: solid 2px #000;
}

#rootNode{
    position: relative;
    transform: rotate(0deg);
    height: 500px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.81);
}

aside{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: var(--panel-width);
    box-shadow: 0px 0px 3px #000;
    color: var(--foreground-light);
    background-color: var(--panel-bkgr-color);
}

aside>div{
    padding: 0.3rem 0px 0.3rem 1rem;
    font-size: 1.14rem;
    line-height: var(--bar-height);

    vertical-align: middle;
}

.noCollapse{
    flex-shrink: 0;
}

.numInput{
    width: 2rem;
}

.toggleBar{
    margin: 0px 0px calc(var(--bar-height) * -1) 0px;
    width: 100%;
    height: var(--bar-height);
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.toggleBar:checked+.panelTitle::before{
    transform: rotate(-90deg);

}

.toggleBar:checked+.panelTitle+.optPanel{
    max-height: 30vh;
    overflow-y: overlay;
    padding: 0.3rem 1.2rem;

}

.toggleBar:hover+.panelTitle::after{
    content: '';
    background-color: rgba(255, 255, 255, 0.15);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.panelTitle{
    flex-shrink: 0;
    position: relative;
    z-index: 0;
    font-size: 1.3rem;
    line-height: var(--bar-height);
    background-color: var(--bar-bkgr-color);
    padding: 0px 1.2rem;
}

.panelTitle::before{
    font-family: monospace;
    font-size: 1.5rem;
    content: "<";
    position: absolute;
    right: 1rem;
    top: 0px;
    transition: all 0.6s;
}

.optPanel{
    max-height: 0px;
    padding: 0px 1.2rem;
    transition: max-height 0.6s;
    line-height: 3rem;
    overflow: hidden;
}
 
.horiHalf, .horiQuarter{
    width: 49%;
    text-align: center;
    display: inline-block;
    line-height: 2.1rem;
}

.horiQuarter{
    width: 23.7%;
    margin-top: -0.9rem;
}

br+.horiQuarter{
    margin-top: 0rem;
}

.panelEleBox{
    border-radius: var(--input-radius);
    margin-right: 0.54rem;
    padding: 0.42rem 0.63rem;
    background-color: rgb(38, 124, 210);
}

.optPanel select{
    margin-left: 0.3rem;
}

.optPanel .numInput{
    margin-left: 0.3rem;
    width: 3rem;
}

.horiHalf .numInput, .horiQuarter .numInput{
    width: 78%;
}

.btn{
    position: relative;
    cursor: pointer;
    color: var(--foreground-emph);
}

.btn:hover::after{
    content: '';
    background-color: rgba(255, 255, 255, 0.15);
    height: 100%;
    width: 100%;
    border-radius: var(--input-radius);
    position: absolute;
    top: 0px;
    left: 0px;
}

#remove{
    background-color: rgb(181, 43, 51);
}

input.panelEleBox, select.panelEleBox{
    padding: 0.21rem;
    color: var(--bar-bkgr-color);
    background-color: var(--foreground-bkgr);
}

.swButton {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	position: relative;

    vertical-align: middle;
	border: 0;
	outline: 0;
	cursor: pointer;
	margin: 0px 10px;
}


/* To create surface of toggle button */
.swButton:after {
	content: '';
	width: 2.4rem;
	height: 1.2rem;
	display: inline-block;
	background: rgba(196, 195, 195, 0.55);
	border-radius: 1rem;
	clear: both;
}


/* Contents before checkbox to create toggle handle */
.swButton:before {
	content: '';
	width: 1.5rem;
	height: 1.5rem;
	display: block;
	position: absolute;
	left: 0;
	top: -0.15rem;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}


/* Shift the handle to left on check event */
.swButton:checked:before {
	left: 1.2rem;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}
/* Background color when toggle button will be active */
.swButton:checked:after {
	background: rgb(38, 124, 210);
}

input, select{
    display: inline-block;
    font-size: 1.14rem;
    
}